* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: none;
	clear: both;
}
main {
	width: 960px;
	margin: 50px auto;
}
.step{
	float: left;
	width: 300px;
	margin-right: 30px;
	padding: 10px;
	position: relative;
	border: 1px solid #eee;
}
.step:last-child {
	margin-right: 0;
}
.image1 {
	background-image: url(img2/flow01.png);
	height: 150px;
	background-size: cover;
	background-position: bottom;
}
.image2 {
	background-image: url(img2/flow02.png);
	height: 150px;
	background-size: cover;
	background-position: bottom;
}
.image3 {
	background-image: url(img2/flow03.png);
	height: 150px;
	background-size: cover;
	background-position: bottom;
}
.step-num {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FF9A4B;
	color: 3px;
}

.title {
	margin: 15px 0 5px;
}